body{
    background-image: url("https://user-images.githubusercontent.com/115472944/196083968-ac4e601c-0a37-484b-bc83-462c0b3b41b1.png");
    background-repeat: fixed;
} 

h2{
 color:	white;
 font-size: 30px;
 font-family:monospace;
}

[id ^= bot_credito] {
    background-color: 	#000000; /* preto */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 9px rgb(160, 84, 44);
}

[id ^= bot]{
  text-decoration: none;
}
  
[id ^= bot_credito] {
    background-color: white; 
    color: black; 
    border: 2px solid #4F4F4F;
}

[id ^= bot_credito]:hover {
    background-color: #D3D3D3;
    color: white;
}

[id ^= bot_credito]:active {
    background-color: #D3D3D3;
    box-shadow: 0 5px #808080;
    transform: translateY(4px);
}

#img_sangue{
    margin-bottom: 0px;
}
