body{
    background-color:black;
} 

h2{
 color:	white;
 font-size: 30px;
 font-family:monospace;
}
[id ^= botao_credito] {
    background-color: #bd6417; /* Green */
    border: none;
    border-radius: 10px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 9px rgb(160, 84, 44);
}
  
[id ^= botao_credito] {
    background-color: white; 
    color: black; 
    border: 2px solid #bd6417;
}
  
[id ^= botao_credito]:hover {
    background-color: #bd6417;
    color: white;
}

[id ^= botao_credito]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
