*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aliceblue;
    background-image: "https://user-images.githubusercontent.com/115474014/194879873-929e1802-c569-4efc-83d2-687ff0b959e7.jpg";
}

h1{
    text-align: center;
}

#button1 {
    background-color: white;
    color: black;
    border: 2px solid coral;
    border-radius: 8px;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 150px;
    display: inline-block;
    text-align: center;
}
