/*Estilização geral*/
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
body{
    font-family: 'EB Garamond';
    background-image: url("https://user-images.githubusercontent.com/115473386/196437684-ee9a4e3e-4204-4893-aed6-727173242733.png");
    background-size: 100%;
}

/*Nome do jogo*/
h1{
    text-align: center;
}

/*corpo da morte de Aliquis*/
#corpo_morte{
    background-color:#808080;
} 

#tx_aliquisdead{
 color:	#800000;
 font-size: 30px;
 font-family:FreeMono, monospace;
}

p {
    font-size:x-large;
}

/*Botão iniciar*/
#btn_iniciar {
    border: 0.1ch solid black;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 120px;
    display: inline-block;
    text-align: center;
    background-color: rgb(206, 208, 212);
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


/*Botões de escolha de personagens*/
#maria_antonieta{
    background-color: transparent;
    display: inline-block;
    padding-left: 50px;
    
}
button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}


#soldado{
    background-color: transparent;
    display: inline-block;
    padding-left: 25px;
}
button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

#aleatorio{
    background-color: transparent;
    color: black;
    border: 1px solid rgb(35, 71, 233);
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    padding: 12px 40px;
    display: inline-block;
    text-align: center;
    
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;  
}


/*Imagem da logo*/
#logo{
    display:inline-block;
    text-align: right;
    padding-left: 250px;
}
    
/*Botão de orientações*/
#botao_regras {
    border: 0.1ch solid black;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: none;
    padding: 12px 120px;
    display: inline-block;
    text-align: center;
    background-color: rgb(206, 208, 212);
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

/*Botão de créditos*/
#botao_creditos {
    background-color: transparent; 
    color: black; 
    border: 2px solid rgb(0, 102, 32);
    border-radius: 10px;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

/*Estilização de links*/
a:link, a:visited{
    text-decoration: none;
    color: black;
} 
